* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

body {
  font-size: 15px;
  color: #000;
  line-height: 1.5;
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 10px 0;
}

h5 {
  font-size: 18px;
}

h1 {
  font-size: 36px;
}

b,
strong {
  font-weight: bolder;
}

.title {
  text-align: center;
  margin: 40px 0 0;
}

.title-head {
  margin: 10px;
}

.title-desc {
  margin: 15px 0;
  font-weight: 500;
  color: #000;
}

p span {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 0 8px;
}

.meter {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 3px 12px;
}

.meter2 {
  border-radius: 50%;
}

#maincontainer {
  display: flex;
  padding: 5px 10px;
  column-gap: 15px;
}

.col1 {
  flex-basis: 75%;
  margin: 0;
}

.boxshadow1,
.boxshadow2,
.boxshadow4,
.boxshadow-b,
.boxshadow-w {
  box-shadow: 2px 3px 5px 3px rgb(0 0 0 / 20%);
}

.bridge-box,
.woods-box {
  background-color: #fff;
  margin: 0 5px;
  padding: 0;
}

.bridge-head,
.woods-head {
  text-align: left;
  padding: 0 16px;
}

.bridge-title,
.woods-title {
  font-size: 24px;
  font-weight: 500;
}

.bridge-desc,
.woods-desc {
  font-size: 18px;
  margin: 10px 0 25px;
  font-weight: 400;
}

.lighter {
  background: #fff;
  color: black;
  opacity: 0.6;
}

.bridge-img,
.woods-img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
  margin: 0;
}

.gest-btn2,
.gest-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-btn2,
.read-btn {
  border: 1px solid lightgray;
  padding: 12px 24px;
  background: #fff;
  margin: 30px 0 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 200px;
}

.read-btn:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.read-btn2:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.col2 {
  margin: 0 15px;
  width: 35%;
}

.div1 {
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0 0 15px;
}

.div1-img {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1-img img {
  width: 100%;
  margin: 0;
  vertical-align: middle;
  border-style: none;
  padding: 0;
}

.avatar-desc {
  font-size: 15px;
  font-weight: 200;
  padding: 0 15px 10px;
}

.avatar-desc h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

footer p {
  margin-top: 50px;
  color: #fff;
}

.avatar-desc p {
  font-size: 15px;
  font-weight: 400;
}

.div2 {
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0 0 10px;
}

.div2 h1 {
  background-color: #f1f1f1;
  color: #000;
  padding: 15px;
  margin: 0;
}

.subdiv21,
.subdiv22,
.subdiv23,
.subdiv24 {
  background-color: #fff;
  border-top: 1px solid lightgray;
  padding: 11px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.subdiv24 img,
.subdiv23 img,
.subdiv22 img,
.subdiv21 img {
  width: 50px;
  height: 50px;
  margin: 0 6px;
}

.tit-desc {
  font-size: 18px;
  margin: 5px 0;
}

.tit-desc1 {
  font-size: 15px;
}

.subdiv21:hover,
.subdiv22:hover,
.subdiv23:hover,
.subdiv24:hover {
  background-color: #ccc;
}

.div4 {
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0 0 60px;
}

.div4 h1 {
  background-color: #f1f1f1;
  color: #000;
  padding: 8px 16px !important;
}

.div4content {
  height: auto;
  color: #000;
  background-color: #fff;
  padding: 0 8px 10px;
}

.content1,
.content2,
.content3 {
  display: inline-block;
  margin: 7px;
}

.content1 strong {
  background-color: #000;
  color: #fff;
  padding: 0 8px;
  font-size: 15px;
  margin: 0 0 16px;
}

.content3 label,
.content2 label,
.content1 label {
  background-color: #f1f1f1;
  padding: 0 8px;
  margin: 0 0 16px;
  font-size: 12px;
}

footer {
  background-color: #616161;
  height: 160px;
  padding: 32px;
  width: 100%;
  margin-top: 40px;
}

.preview {
  color: #fff;
  font-size: 15px;
  background-color: #000;
  margin: 0 0 16px;
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
  cursor: not-allowed;
  opacity: 0.4;
}

.preview:hover {
  background-color: #ccc;
}

.next {
  color: #fff;
  font-size: 15px;
  background-color: #000;
  margin: 0 0 16px;
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
}

.next:hover {
  background-color: #f1f1f1;
  color: #000;
}

.white-link {
  color: #fff;
}

@media screen and (max-width: 992px) {
  #maincontainer {
    display: block;
  }

  .col2 {
    width: 100%;
    margin: 40px auto;
  }

  .bridge-box {
    margin-top: 15px;
  }
}

@media screen and (max-width: 600px) {
  .comment1 b,
  .comment2 b {
    display: none;
  }

  .comment1 span,
  .comment2 span {
    display: none;
  }
}

@media screen and (min-width: 1360px) {
  .col2,
  .col1 {
    max-width: 1360px !important;
    margin: auto;
  }
}
